@media (min-width: 1600px){
  .layout{
    min-width: 1600px;
  }
  .layout__menu{
    padding: 5rem 9.5rem;
  }

  .layout__banner{
    min-height: 85rem;
    margin: 0 9.5rem;
    padding-right: 0;
    padding-left: 20rem;
    padding-top: 25rem;
    padding-bottom: 30rem;
}

   .services__service{
     padding: 7rem 5rem;
    
}
}

@media (min-width: 1199px) and (max-width: 1400px) {
    
    .reviews__grid,
    .clients__container,
    .news__container,
    .footer__container {
        max-width: 100%;
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .projects__all {
        gap: 3rem;
    }
}
